html, body {
  height:100%;
}

body {
 -webkit-animation: bg-animation 30s ease infinite;
-moz-animation: bg-animation 30s ease infinite;
animation: bg-animation 30s ease infinite;
 background: linear-gradient(269deg, #246655, #1b66da, #1ba9da, #37d8d6);
 background-size: 800% 800%;
}

@-webkit-keyframes bg-animation {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes bg-animation {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes bg-animation {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

.navbar-right {
    padding: 14px 14px; 
    display: inline-block;
    color: #eee;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}
